
h3{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h4{
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}
h6{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
h5{
    font-family: 'Montserrat', sans-serif;
}

li{
    font-size: 15px;
    font-weight: 4px;
    font-family: 'Libre Baskerville', serif;
}

.uk-navbar-container{
    height: 40px;
    
 }

 .uk-navbar-container:not(.uk-navbar-transparent) {
    background: #53b2dd;
}
 

.uk-button{
    border-radius: 12px;
    background-color: transparent;
    color: white;
    background-color: #53b2dd;
    font-family: 'Oswald', sans-serif;

}



/* for the accordian styles */
.uk-padding-small{
    font-size: 12px;
    padding: 2px;
} 

img{
    /* float: right; */
    border-radius: 8px;
}

a{
    color: #53b2dd;
    
}

a:hover{
    color: black;
}

/* Preview modal*/

#mealName{
    font-family: 'Montserrat', sans-serif;

}

#mealDetails{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

