
h3{
    color: white;

}

h5{
    margin-top: 10px;
}
h6{
    font-weight: bold;
}

li{
    font-size: 12px;
    font-weight: 4px;
}

.uk-navbar-container{
    height: 40px;
    
 }

 .uk-navbar-container:not(.uk-navbar-transparent) {
    background: #53b2dd;
}
 

.uk-button{
    border-radius: 12px;
    background-color: transparent;
    color: white;
    background-color: #53b2dd;
}



/* for the accordian styles */
.uk-padding-small{
    font-size: 12px;
    padding: 2px;
} 

img{
    float: right;
    border-radius: 8px;
}

a{
    color: #53b2dd;
    
}

a:hover{
    color: black;
}