
h3{
    color: white;
    margin-left: 20px;
}

.uk-navbar-container{
height: 40px;
background-color: black;
}
h5{
    margin-top: 10px;
}
h6{
    font-weight: bold;
}

li{
    font-size: 12px;
}

.uk-button{
    border-radius: 8px;
    background-color: transparent;
    color: white;
    background-color: #53b2dd;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: lightgrey;
}